@page "/"
@layout ConnexionLayout

@using Microsoft.AspNetCore.Components

<PageTitle>Pokémon Strikes</PageTitle>

<div class="welcome-message">
    <h1>Bienvenue dans Pokémon Strikes</h1>
    <p>Connectez-vous ou inscrivez-vous pour commencer votre aventure</p>
</div>
