@inherits LayoutComponentBase

<div class="page">
    <nav class="sidebar">
        <div class="top-row">
            <NavLink class="home-button" href="/" Match="NavLinkMatch.All">
                <i class="fas fa-home"></i>
                Menu Principal
            </NavLink>
        </div>

        <div class="nav-menu">
            <NavLink class="nav-link" href="/carte-dresseur" Match="NavLinkMatch.All">
                <i class="fas fa-id-card"></i> Carte Dresseur
            </NavLink>
            <NavLink class="nav-link" href="/combat" Match="NavLinkMatch.All">
                <i class="fas fa-fist-raised"></i> Combat
            </NavLink>
            <NavLink class="nav-link" href="/mini-jeux" Match="NavLinkMatch.All">
                <i class="fas fa-gamepad"></i> Mini-Jeux
            </NavLink>
            <NavLink class="nav-link" href="/pokedex" Match="NavLinkMatch.All">
                <i class="fas fa-book"></i> Pokédex
            </NavLink>
            <NavLink class="nav-link" href="/objets" Match="NavLinkMatch.All">
                <i class="fas fa-briefcase"></i> Objets
            </NavLink>
            <NavLink class="nav-link" href="/amis" Match="NavLinkMatch.All">
                <i class="fas fa-users"></i> Amis
            </NavLink>
            <NavLink class="nav-link" href="/succes" Match="NavLinkMatch.All">
                <i class="fas fa-trophy"></i> Succès
            </NavLink>
            <NavLink class="nav-link" href="/parametres" Match="NavLinkMatch.All">
                <i class="fas fa-cog"></i> Paramètres
            </NavLink>
        </div>
    </nav>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>