<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        @{
            var useHomeLayout = routeData.PageType.Name == "Home";
            var layoutType = useHomeLayout ? typeof(Layout.HomeLayout) : typeof(Layout.MainLayout);
        }
        <RouteView RouteData="routeData" DefaultLayout="@layoutType" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <p role="alert">Désolé, cette page n'existe pas.</p>
        </LayoutView>
    </NotFound>
</Router>
